xml/ArrayOfCenaZlota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
<xsd:element name="ArrayOfCenaZlota">
      <xsd:complexType>
            <xsd:sequence>
                  <xsd:element name="CenaZlota" type="gold_type"
                               minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
      </xsd:complexType>
</xsd:element>
<xsd:complexType name="gold_type">
      <xsd:sequence>
            <xsd:element name="Data" type="xsd:string"/>
            <xsd:element name="Cena" type="xsd:string"/>
      </xsd:sequence>
</xsd:complexType>
</xsd:schema>